*
!.gitignore

!README.md
!LICENSE
!others/
!others/**

!.vimrc
!.zshrc

!.config/
!.config/hypr/
!.config/hypr/**
!.config/dunst/
!.config/dunst/**
!.config/waybar/
!.config/waybar/**
!.config/wofi/
!.config/wofi/**
!.config/kitty/
!.config/kitty/**
!.config/doom/
!.config/doom/**
!.config/zathura/
!.config/zathura/**
!.config/fontconfig/
!.config/fontconfig/**

!.local/
!.local/bin/
!.local/bin/**
