*
!.gitignore

!README.md
!LICENSE
!others/
!others/**

!.vimrc
!.zshrc

!.config/
!.config/hypr/
!.config/hypr/**
!.config/dunst/
!.config/dunst/**
!.config/waybar/
!.config/waybar/**
!.config/wofi/
!.config/wofi/**

!.local/
!.local/bin/
!.local/bin/**
